<footer class="footer">
  <div>This site is built with
    <a href="https://antora.org">Antora</a>,
    <a href="https://asciidoc.org">AsciiDoc</a>,
    <a href="https://open-props.style">Open Props</a>, and
    <a href="https://neovim.io">Neovim</a>
    by
    <a href="https://coastsystems.net">Coastsystems</a>.</div>
  <div>The source code for this UI is licensed under the terms of the MPL-2.0
    license.</div>
</footer>
