{{!-- Google wants *all* language versions as *alternatate* hreflang"
https://developers.google.com/search/docs/advanced/crawling/localized-versions
--}}
<meta charset="utf-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bako Garage Web site">
<meta name="author" content="Boyd Kelly">
<meta name="robots" content="index, follow">
<title>{{ page.title }}</title>

{{#with page.versions}}
{{#each this}}
{{#unless ./missing }}
<link rel="alternate" hreflang="{{./version}}" href="{{{@root.site.url}}}{{{url}}}" >
{{/unless}}
{{/each}}
{{/with}}

