<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item page-scroll" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="top-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <img class="icon globe" src="../../_/img/globe.svg">
        </div>
        {{> nav-lang}}
      </div>

      <hr class="navbar-divider"> 

      <div class="navbar-end">
        <form id="theme-switcher">
          <div>
            <input checked type="radio" id="auto" name="theme" value="auto">
            <label for="auto">Auto</label>
          </div>
          <div>
            <input type="radio" id="light" name="theme" value="light">
            <label for="light">Light</label>
          </div>
          <div>
            <input type="radio" id="dark" name="theme" value="dark">
            <label for="dark">Dark</label>
          </div>
          <div>
            <input type="radio" id="dim" name="theme" value="dim">
            <label for="dim">Dim</label>
          </div>
          <div>
            <input type="radio" id="grape" name="theme" value="grape">
            <label for="grape">Grape</label>
          </div>
        </form>
        {{#with page.attributes.about}}
        <a class="navbar-item" href="#about">{{{this}}}</a>
        {{/with}}

        {{#with page.attributes.team}}
        <a class="navbar-item" href="#team">{{{this}}}</a>
        {{/with}}

        {{#with page.attributes.contact}}
        <a class="navbar-item" href="#contact">{{{this}}}</a>
        {{/with}}
      </div>
    </div>
  </nav>
</header>
