{{#with page.versions}}
  {{#each this}}
  {{#unless ./missing ~}}
  {{~#if (ne ./version @root.page.version)}}
    <a class="navbar-item site-lang" href="{{{relativize ./url}}}">
      {{./displayVersion}}</a>
  {{else}}
  <div class="navbar-item is-active site-lang">
    {{./displayVersion}}
  </div>
  {{/if~}}
  {{~/unless~}}
  {{/each}}
{{/with}}
