body {
  background-color: var(--body1);
  overflow-x: hidden;
}

h2 {
  font-size: var(--font-size-fluid-3);
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

h3 {
  font-size: var(--font-size-fluid-2);
  color: var(--text2);
}

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

.is-transparent {
  background: rgba(255, 255, 255, 0.4);
}

#contents {
  display: block;
}

.sect1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 400px;
}

.sect1 > * {
  padding: var(--size-fluid-3);
}

.sect1:nth-child(even) {
  flex-flow: row-reverse;
}

#contents .sect1:nth-child(1) {
  color: var(--text1);
  background-color: var(--surface2);
  border-top: 10px solid var(--teal-7);
  border-bottom: 5px solid var(--yellow-7);
  border-radius: var(--radius-blob-3);
  line-height: var(--font-lineheight-3);
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  font-family: var(--font-sans);
  margin: 4rem 2rem 2rem 2rem;
  padding: 4rem;
}

#contents .sect1:nth-child(1) h2 {
  color: var(--teal-7) !important;
}

#contents .sect1:nth-child(2) {
  color: var(--text1);
  background: url(../../_/img/garage1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid var(--teal-7);
}

#contents .sect1:nth-child(2) hr {
  background: var(--teal-7);
}
#contents .sect1:nth-child(2) h2 {
  color: var(--teal-7) !important;
}

#contents .sect1:nth-child(3) {
  color: var(--yellow-7);
  background: url(../../_/img/bako54.jpg), url(../../_/img/mechanos54.jpg);
  background-attachment: fixed;
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 50%;
  border-top: 10px solid var(--yellow-7);
}

#contents .sect1:nth-child(3) hr {
  background: var(--yellow-7);
}

#contents .sect1:nth-child(3) h2 {
  color: var(--yellow-7) !important;
}

#contents .sect1:nth-child(4) {
  color: var(--red-7);
  background: url(../../_/img/bako-map.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid var(--red-7);
}

#contents .sect1:nth-child(4) hr {
  background: var(--red-9);
}

#contents .sect1:nth-child(4) h2 {
  color: var(--red-7) !important;
}

.openblock .content {
  font-size: var(--font-size-fluid-1);
  background: hsla(0, 0%, 100%, 0.7);
  background: var(--surface2);
  border-radius: var(--radius-blob-1);
  border-top: 10px solid var(--teal-7);
  color: var(--text2);
  padding: 4rem;
}

form#theme-switcher {
  display: none;
}

a.button {
  display: inline-flex;
  white-space: nowrap;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
  padding-inline: var(--size-6);
  padding-block: var(--size-3);
  color: var(--red-9);
  border: var(--border-size-1) solid var(--red-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}

a.button:hover {
  background-color: var(--red-2);
  color: black;
}
