footer.footer {
  background-color: var(--surface1);
  color: var(--text2);
  border-top: 1px solid var(--surface3);
  font-size: var(--font-size-fluid-0);
  line-height: var(--font-lineheight-1);
  padding: 0.1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  padding: var(--size-fluid-4);
  z-index: var(--z-index-footer);
}

@media screen and (min-width: 1024px) {
  footer.footer {
    font-size: var(--font-size-fluid-0);
  }
}

.footer-brand,
.footer-centre,
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer p {
  margin: 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  color: var(--link-visited);
}

.footer img {
  vertical-align: middle;
}

.footer p + p {
  margin-top: 1em;
}

.footer-brand a {
  color: var(--link);
}

.footer-brand-name {
  color: var(--yello-7);
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-1);
  line-height: 1;
  position: relative;
  top: 0.06em; /* compensate for built-in line height in font */
  letter-spacing: -0.02em;
}

@media screen and (min-width: 1024px) {
  .footer-brand-name {
    font-size: var(--font-size-5);
  }

  .feather {
    width: 24px;
    height: 24px;
  }
}

.social-links {
  list-style: none;
  display: flex;
}

.social-links li + li::before {
  content: "";
  padding: 0 0.5em;
}

/* footnote svgs */
.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: var(--yellow-7);
}
