body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows:
    var(--navbar-height) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr) fit-content;
  grid-template-areas:
    "head"
    "main"
    "foot";
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  grid-area: head;
  z-index: 999;
  top: 0;
  position: sticky;
}

#content > .sect1 {
  margin: 0;
  grid-area: main;
  display: flex;
}

footer.footer {
  grid-area: foot;
  bottom: 0;
  position: sticky;
}

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows:
      var(--navbar-height) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
      minmax(0, 1fr) fit-content;
    grid-template-areas:
      "head"
      "main"
      "foot";
    min-height: 100vh;
    overflow: auto;
  }
}
