html {
  /* light */
  --brand-light: var(--orange-6);
  --text1-light: var(--gray-8);
  --text2-light: var(--gray-7);
  --surface1-light: var(--gray-0);
  --surface2-light: var(--gray-1);
  --surface3-light: var(--gray-2);
  --surface4-light: var(--gray-3);
  --surface-shadow-light: 200 10% 20%;
  --shadow-strength-light: 2%;
  /* dark */
  --brand-dark: var(--orange-3);
  --text1-dark: var(--gray-1);
  --text2-dark: var(--gray-3);
  --surface1-dark: var(--gray-9);
  --surface2-dark: var(--gray-8);
  --surface3-dark: var(--gray-7);
  --surface4-dark: var(--gray-6);
  --surface-shadow-dark: 200 50% 3%;
  --shadow-strength-dark: 80%;
  /* dim */
  --brand-dim: var(--orange-4);
  --text1-dim: var(--gray-3);
  --text2-dim: var(--gray-4);
  --surface1-dim: var(--gray-8);
  --surface2-dim: var(--gray-7);
  --surface3-dim: var(--gray-6);
  --surface4-dim: var(--gray-5);
  --surface-shadow-dim: 200 10% 13%;
  --shadow-strength-dim: 20%;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
  color-scheme: dim;

  --brand: var(--brand-dim);
  --text1: var(--text1-dim);
  --text2: var(--text2-dim);
  --surface1: var(--surface1-dim);
  --surface2: var(--surface2-dim);
  --surface3: var(--surface3-dim);
  --surface4: var(--surface4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

:root {
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: var(--font-size-1);
  --body-font-size--desktop: var(--font-size-2);
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: (--var-lineheight-1);
  --body-font-color: var(--text2);
  --body-font-family: var(--font-sans);
  --body-font-weight-bold: var(--font-weight-5);
  --monospace-font-family: var(--font-mono);
  --monospace-font-weight-bold: var(--font-weight-5);
  /* base */
  --body-background: var(--surface1);
  --panel-background: var(--surface2);
  --panel-border-color: var(--surface2);
  --scrollbar-thumb-color: var(--gray-4);
  --scrollbar_hover-thumb-color: var(--gray-9);
  --scrollbar-track-color: var(--gray-4);
  /* navbar */
  --navbar-background: var(--surface1);
  --navbar-font-color: var(--text1);
  --navbar_hover-background: var(--gray-3);
  --navbar-button-background: var(--gray-0);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--surface1);
  --navbar-menu-font-color: var(--text1);
  --navbar-menu_hover-background: var(--gray-1);
  /* nav */
  /* admonitions */
  --caution-color: var(--yellow-6);
  --caution-on-color: var(--yellow-1);
  --important-color: var(--red-6);
  --important-on-color: var(--red-1);
  --note-color: var(--blue-5);
  --note-on-color: var(--blue-1);
  --tip-color: var(--green-5);
  --tip-on-color: var(--green-1);
  --warning-color: var(--orange-5);
  --warning-on-color: var(--orange-1);
  /* doc */
  --doc-font-color: var(--gray-8);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: var(--font-linehight-3);
  --doc-margin: var(--size-fluid-1);
  --doc-margin--desktop: var(--size-fluid-2);
  --heading-font-color: var(--gray-9);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--blue-6);
  --link_hover-font-color: var(--blue-8);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--gray-2);
  --abstract-font-color: var(--gray-7);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--gray-6);
  --caption-font-style: italic;
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--gray-0);
  --example-border-color: var(--gray-6);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--gray-4);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--gray-6);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--gray-6);
  --quote-font-color: var(--gray-6);
  --quote-attribution-font-color: var(--gray-5);
  --sidebar-background: var(--gray-3);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(
    to bottom,
    var(--gray-2) 0%,
    var(--gray-0) 100%
  );
  /* toc */
  --toc-font-color: var(--gray-7);
  --toc-heading-font-color: var(-gray-8);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: var(--var-lineheight-2);
  /* footer */
  --footer-line-height: var(--lineheight-3);
  --footer-background: var(--surface2);
  --footer-font-color: var(--text1);
  --footer-link-font-color: var(--gray-9);
  /* dimensions and positioning */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
