<!DOCTYPE html>
{{#with (or page.attributes.lang page.version)}}
<html lang={{this}}>
{{/with}}
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="body">
{{> header}}
{{> main}}
{{> footer}}
  </body>
</html>
